/* CSS Document */

.default-color0.chart-series-line { -fx-stroke: #cd3333; }
.default-color0.chart-line-symbol { -fx-background-color: #cd3333, white; }
.chart-series-line {    
    -fx-stroke-width: 2px;
}
.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}